{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Sistema de Gestão de Serviços{% endblock %}</title>
  <link rel="icon" href="{% static "app/img/logo.ico" %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static "app/css/style.css" %}">
</head>
<body class="w-screen h-screen text-gray-600 bg-gray-100">
    <main>
        {% block content %}
        <!-- Conteúdo da página será inserido aqui -->
        {% endblock %}
    </main>
    <footer class="mt-10 mb-6 text-center">
        <p>&copy; 2024 Leandro Benedito de Souza.</p>
        <!-- Adicione aqui informações de rodapé, links de redes sociais, etc. -->
    </footer>
</body>
</html>